.pagination {
    --bs-pagination-padding-x: 3.75rem;

}
.page-item{
    border: 50%;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 250px;
}
.dbtn {
        width: 64%;
        position: absolute;
        bottom: 67px;
}
.Page .navigation {
    background-color: white;
}